<div class="grid bg-blue-300 max-w-screen-xl border dark:bg-gray-900 min-h-[100vh] mx-auto" id="{{self_id}}">  
  <div class="bg-blue-300 overflow-y-scroll pt-12 dark:bg-gray-900 max-h-[90vh] min-h-[80vh] max-w-screen-xl">
    <div class="lg:grid lg:grid-cols-1 lg:gap-4 mt-10 bg-blue-300 dark:bg-gray-900">

        {% block main_content %}

        {% endblock main_content %}


    </div>  
  </div>
  <div class=" bg-blue-300 dark:bg-gray-900 border place-content-start max-w-screen-xl">
    <div class="text-center">
      <a href="#{{next_id}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"
          class="mx-auto fill-gray-700 dark:fill-gray-50 animate-bounce" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
        </svg>
      </a>
    </div>
  </div>
</div>
  