{% load static %}

<div class="grid bg-blue-300 shadow-2xl max-w-screen-xl place-content-center dark:bg-gray-900 min-h-[100vh] mx-auto" id="{{self_id}}">  
  <div class="bg-blue-300 pt-8 dark:bg-gray-900 scrollbar-hide max-h-[85vh] min-h-[80vh] overflow-y-scroll max-w-screen-lg">
    <div class="lg:grid lg:grid-cols-1 lg:gap-4 mt-5 bg-blue-300 dark:bg-gray-900">

  {% comment %} begin {% endcomment %}

  <div class="grid gap-5 lg:grid-cols-12 max-w-screen-xl max-h-[20vh] dark:bg-gray-900 mx-auto ">
    <div class="lg:col-span-12 text-center max-h-[25vh]">
      <h1 class=" mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-4xl dark:text-white">
        {{projects.title}}</h1>
      <p class="max-md:font-light text-black md:text-lg 2xl:text-2xl dark:text-gray-400">From
        {{projects.details}}</p>
    </div>
  </div>
  <div class="grid px-5 gap-5 mt-5 lg:grid-cols-12 max-w-screen-xl dark:bg-gray-900">

    {% for heading,cat_cards in cat_zip %}
    
    <div class="lg:col-span-4 text-center">
      <div class="lg:col-span-full max-h-[10vh] pb-2 border-b border-black dark:border-white text-center">
        <h1 class="text-3xl font-extrabold tracking-tight leading-none md:text-3xl xl:text-2xl dark:text-white">
          {{heading}} </h1>
      </div>
      {% for card in cat_cards %}
  
      <button data-modal-target="popup-modal-{{card.card_title}}" data-modal-toggle="popup-modal-{{card.card_title}}" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300  min-w-full font-medium text-sm px-5 my-2 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
        {{card.card_title}}
      </button>
      
      <div id="popup-modal-{{card.card_title}}" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
          <div class="relative w-full h-full max-w-md md:h-auto">
              <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                  <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="popup-modal-{{card.card_title}}">
                      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                      <span class="sr-only">Close modal</span>
                  </button>
                  <div class="p-6 text-center">
                    <img src="{{card.card_image.url}}" class="rounded-lg mx-auto mb-4 text-gray-400 w-20 h-20 dark:text-gray-200"
                       alt="mockup">
                    
                      <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">{{card.excerpt}}</h3>
                      <a href="{{card.link_1}}">
                        <button data-modal-hide="popup-modal-{{card.card_title}}" type="button" class="text-white bg-black dark:hover:bg-slate-900 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                          {{card.button_one_name}}
                      </button>
                      </a>      
                      <a href="{{card.link_2}}">
                        <button data-modal-hide="popup-modal-{{card.card_title}}" type="button" class="text-black bg-white hover:bg-blue-200 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-900 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600 inline-flex">{{card.button_two_name}}

                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right ml-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                          </svg>
                        </button>
                      </a>                               
                  </div>
              </div>
          </div>
      </div>

      {% endfor %}
    </div>
  {% endfor %}

  </div>
</div>

{% comment %} end {% endcomment %}
  </div>
  <div class=" bg-blue-300 dark:bg-gray-900 place-content-start max-w-screen-xl">
    <div class="text-center">
      <a href="#{{next_id}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"
          class="mx-auto fill-gray-700 dark:fill-gray-50 animate-bounce" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
        </svg>
      </a>
    </div>
  </div>
</div>
  