{% extends 'homepage/snippets/body_blueprint.html' %}

{% block page_content %}

<div class="grid max-w-screen-xl place-content-center border min-h-[60vh] max-h-[60vh] dark:bg-gray-900">
  <h1 class=" mb-4 text-4xl font-extrabold tracking-tight text-center leading-none md:text-5xl xl:text-6xl dark:text-white">
    Connect</h1>
    <div class="grid grid-cols-4 drop-shadow-2xl bg-gray-900  dark:bg-gray-300 gap-2 border xl:min-w-[40vw] max-lg::min-w-[60vw] max-md:min-w-[90vw] min-w-[90vw] rounded-l-full rounded-r-full">
      {% for account in social  %}
      <div class=" dark:border-black p-1 rounded-lg">
        <a href="{{account.link}}">
          <img src="{{account.icon.url}}" class=" dark:hidden max-h-10  mx-auto"
            alt="mockup">
          <img src="{{account.dark_icon.url}}" class=" max-h-0 dark:max-h-10 mx-auto" alt="mockup">
        </a>
      </div>  
      {% endfor %}
    </div>
</div>
<div class="grid min-h-[10vh] text-center rotate-180 ">
  <a href="#{{next_id}}">
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"
      class="mx-auto fill-gray-700 dark:fill-gray-50 animate-bounce " viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
    </svg>
  </a>
</div>


{% endblock page_content %}